* {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: rgba(216, 226, 220, 0.75);
  background-size: cover;
  height: 17rem;
}
.nav {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 340px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.header h2 {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.mainbox {
  position: relative;
}
.mainbox input {
  position: relative;
  left: -5px;
  margin: -5px auto;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 85%;
  height: 35px;
  background: transparent;
  box-shadow: 0 0 0px 1000px white inset;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  border-bottom: 1.5px solid #555555;
}
.mainbox div span {
  position: relative;
  top: 25px;
  left: -118px;
  color: #555555;
  z-index: 99;
}
.mainbox span {
  position: relative;
  display: inline-block;
  top: 14px;
  left: -77px;
  color: #555555;
  margin: 5px 0px;
  z-index: 99;
}
.mainbox .sf1 {
  top: 12px;
  left: -119px;
  margin: 15px 0px;
}
.mainbox .sf2 {
  top: 12px;
  left: -119px;
  margin: 15px 0px;
}
.mainbox .userprovince {
  margin-top: 0px;
}
.mainbox .donateprovince {
  margin-top: -15px;
}
.mainbox .distpicker1 {
  top: -25px;
  left: 25px;
}
.mainbox .distpicker2 {
  top: -25px;
  left: 25px;
}
.mainbox .distpicker {
  display: flex;
  position: relative;
  margin: -5px auto;
  width: 65%;
  height: 100%;
}
.mainbox .distpicker select {
  flex: 3;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mainbox .wz {
  margin-top: -35px;
}
.mainbox div .in_check {
  outline: none;
  height: 22px;
  width: 25px;
  position: relative;
  left: 18px;
  top: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.mainbox .send_yzm {
  position: relative;
  top: -25px;
  right: -214px;
  width: 105px;
  height: 30px;
  background-color: #f4f3ee;
  color: black;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mainbox .yzm {
  position: relative;
  margin-top: -5px;
}
.mainbox .yzm input {
  width: 195px;
  left: -54px;
}
.mainbox #but_sub {
  width: 220px;
  height: 45px;
  line-height: 45px;
}
.mainbox .yzm_div {
  position: relative;
  margin-top: 0px;
}
.mainbox .pwd_div {
  display: none;
}
.mainbox .is_right {
  color: red;
  display: inline-block;
  width: 170px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  right: -168px;
  top: -20px;
  border-radius: 15px;
}
.mainbox .send_right {
  color: green;
  display: inline-block;
  width: 160px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  right: -47px;
  top: -47px;
  border-radius: 15px;
}
.mainbox textarea {
  padding-top: 5px;
  padding-left: 5px;
  outline: none;
  width: 85%;
  height: 65px;
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 30px;
  font-size: 17px;
  font-family: Courier, monospace;
  color: #555555;
}
.mainbox .phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.mainbox .phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.mainbox .wz .money {
  width: 100%;
  position: relative;
  top: 25px;
  left: -90px;
  margin-top: 0px;
  margin-left: 0px;
}
.mainbox .wz .money span {
  position: relative;
  left: 0px;
}
.mainbox .wz .money input {
  width: 30%;
}
.mainbox .wz .goods {
  width: 100%;
  margin-left: 235px;
  margin-top: -40px;
  position: relative;
  top: 0px;
  left: 0px;
}
.mainbox .wz .goods span {
  position: relative;
  left: -215px;
  top: 33px;
}
.mainbox .wz .goods select {
  display: block;
  width: 70px;
  height: 30px;
  padding: 0px 0px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mainbox .wz .goods select option {
  text-align: center;
}
