* {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
input {
  box-shadow: 0 0 0px 1000px white inset !important;
}
body {
  background-color: rgba(216, 226, 220, 0.75);
  height: 550px;
}
.nav {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 340px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.header h2 {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.mainbox {
  position: relative;
}
.mainbox input {
  position: relative;
  left: -5px;
  margin: -5px auto;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 85%;
  height: 35px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  border-bottom: 1.5px solid #555555;
}
.mainbox .yx {
  margin-bottom: 25px;
  position: relative;
}
.mainbox .emailfail {
  color: red;
}
.mainbox .userfail {
  color: red;
}
.mainbox .yzmsuccess {
  color: green;
}
.mainbox div span {
  position: relative;
  top: 25px;
  left: -118px;
  color: #555555;
  z-index: 99;
}
.mainbox span {
  position: relative;
  display: inline-block;
  top: 14px;
  left: -77px;
  color: #555555;
  margin: 5px 0px;
  z-index: 99;
}
.mainbox .send_yzm {
  position: relative;
  top: -57px;
  right: -205px;
  width: 105px;
  height: 30px;
  background-color: #f4f3ee;
  color: black;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mainbox .yzm {
  position: relative;
  top: -30px;
  margin-top: 10px;
}
.mainbox #but_sub {
  font-size: 27px;
  line-height: 50px;
  width: 70%;
  height: 50px;
}
.mainbox .yzm_div {
  position: relative;
  top: -30px;
}
.mainbox .pwd_div {
  display: block;
  position: relative;
  top: -15px;
  margin-top: -10px;
}
.mainbox .is_right {
  color: red;
  display: inline-block;
  width: 170px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  right: -155px;
  top: -20px;
  border-radius: 15px;
}
.mainbox .send_right {
  color: green;
  display: inline-block;
  width: 160px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: relative;
  right: -47px;
  top: -47px;
  border-radius: 15px;
}
.mainbox div .is_right_yzm {
  top: -110px;
  right: -160px;
}
.mainbox .yj_pwd {
  height: 25px;
  width: 25px;
  background-image: url(../image/system/xt.png);
  background-position: 0px -441px;
  background-repeat: no-repeat;
  position: absolute;
  top: 105px;
  right: 30px;
  cursor: pointer;
}
.mainbox .is_right_mm {
  top: -40px;
}
.mainbox .register_a {
  position: relative;
  top: 0px;
  right: 0px;
}
.mainbox .register_a ul {
  display: flex;
}
.mainbox .register_a ul li {
  flex: 1;
  position: relative;
  top: -40px;
  left: 0px;
  text-align: center;
}
.mainbox .register_a ul li a {
  color: #555555;
}
